<!-- dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bobber Dashboard</title>
</head>
<body>
    <h1>Bobber Dashboard</h1>
    <% if (username) { %>
        <h2>Logged in as: <%= username %></h2>
    <% } else { %>
        <p>Not logged in</p>
    <% } %>

    <!-- Display Topics -->
    <div>
        <a href="/createTopic">Create New Topic</a>
        <h3>All Topics:</h3>
        <ul>
            <% topics.forEach(function(topic) { %>
                <li>Title: <%= topic.Title %></li>
                <% if (topic.Posts && topic.Posts.length > 0) { %>
                    <li>Posts:
                        <% topic.Posts.forEach(function(post) { %>
                            <%= post %><br>
                        <% }); %>
                    </li>
                <% } else { %>
                    <li>No posts available</li>
                <% } %>
                <!-- Button routes user to a page to add a post to a topic -->
                <form action="/addPostToTopic" method="get">
                    <input type="hidden" name="title" value="<%= topic.Title %>">
                    <button type="submit">Add Post to Topic</button>
                </form>
                <button type="submit">Subscribe to Topic</button>
                <hr>
                <br>
            <% }); %>
        </ul>
    </div>
</body>
</html>