<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>404 PAGE NOT FOUND GO FIND IT LOL</title>
		<!-- Link to the external CSS file -->
		<link href="css/App.css" rel="stylesheet" />
	</head>
	<body class="home-body">
		<!-- Apply home-body class to the body -->
		<div class="container">
			<!-- Apply Bootstrap's container class -->
			<h1 class="home-heading">404 PAGE NOT FOUND</h1>
			<!-- Apply home-heading class to the heading -->
			<p class="lead">GO FIND IT LOL</p>
			<!-- Apply Bootstrap's lead class -->
		</div>
	</body>
</html>
